* {
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #3A2369;
}

.main {
    margin: 60px auto 0;
    width: 500px;
    
    background-color: #FEFEFE;   
    padding: 20px 20px 80px;
    border-radius: 10px;
    
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header .title {
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
}

.header i {
    font-size: 20px;
    color: goldenrod;
}

.input {
    display: flex;
    justify-content: space-between;
    background-color: #EAEDEE;
    border-radius: 20px;
    margin-bottom: 30px;
}

.input input{
    flex:1;
    font-size: 15px;
    padding:10px 15px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    height: 40px;
    outline: none;
    
}

.input button {
    background-color: #FF653E;
    border: none;
    color : white;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 50px;
    font-size: 16px;

    
}

.list-container li{
    list-style: none;
    padding-left: 50px ;
    padding-right: 10px;
    margin-bottom: 15px;
    position: relative;
    user-select: none;
}

.list-container li div.checked {
    text-decoration: line-through;
    color: gray;
}

.list-container li::before {
    content: "";
    background-image: url("./images/unchecked.png");
    display: inline-block;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
    position: absolute;
    left:5px;
    bottom: 0px;
    border-radius: 50%;
    
}

.list-container li.checked::before {
    
    background-image: url("./images/checked.png");
   
}

.list-container li {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    
}

.list-container li span{
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 15px;
}

.list-container li span:last-child:hover{
    background-color: gray;
    
    
}